{{#extends "base"}}

{{#block "content"}}
    <h1>Add New Customer</h1>

    <form method="POST">
        <div class="mt-3">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control" />
        </div>

        <div class="mt-3">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control" />
        </div>

        <div class="mt-3">
            <label>Rating</label>
            <input type="number" name="rating" class="form-control" />
        </div>

        <div class="mt-3">
            <label>Companies</label>
            <select name="company_id" class="form-control">
                {{#each companies}}
                    <option value=`{{company_id}}`>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mt-3">
            <label>Employees</label>
            <select name="employees" class="form-control" multiple>
                {{#each employees}}
                    <option value=`{{employee_id}}`>{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>
        </div>

        <input type="submit" value="Create" class="mt-3 btn btn-primary" />
    </form>

{{/block}}

{{/extends}}