{{#extends "base"}}
{{#block"content"}}
<h1>Customers</h1>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Rating</th>
        <th>Company ID</th>
        <th></th>
    </tr>
    {{#each customers}}
    <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.rating}}</td>
        <td>{{this.company_name}}</td>
        <td>
            <a href="/delete-customers/{{this.customer_id}}" class="btn btn-danger btn-sm-">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
